html {
  h1,
  h2,
  h3,
  h4 {
    color: #3c3c43;
  }

  p,
  li,
  .sidebar {
    line-height: 28px;
    color: #3c3c43;
  }

  strong {
    color: rgb(60, 60, 67);
  }

  p > a {
    color: #646cff;
    text-decoration: none;
  }

  p > a:hover {
    text-decoration: underline;
  }

  code {
    border-radius: 4px;
  }
  .vitesse-dark {
    display: none;
  }
  .vitesse-light {
    display: block;
  }
}

html.dark {
  h1,
  h2,
  h3,
  h4 {
    color: #fffffff2;
  }

  p,
  li,
  .sidebar {
    line-height: 28px;
    color: #fffff5db;
  }

  strong {
    color: rgb(255, 255, 245, 0.96);
  }

  p > a {
    color: #646cff;
    text-decoration: none;
  }

  p > a:hover {
    text-decoration: underline;
  }

  code {
    border-radius: 4px;
  }
  .vitesse-light {
    display: none;
  }
  .vitesse-dark {
    display: block;
  }
}

.shiki code {
  padding: 0;
}
