@keyframes drawSignatureDark {
  0% {
    stroke-dashoffset: 8000;
  }

  15% {
    fill: transparent;
  }

  35%,
  75% {
    stroke-dashoffset: 0;
    fill: #fdfdfd;
  }

  90%,
  100% {
    stroke-dashoffset: 8000;
    fill: transparent;
  }
}

@keyframes drawSignatureLight {
  0% {
    stroke-dashoffset: 8000;
  }

  15% {
    fill: transparent;
  }

  35%,
  75% {
    stroke-dashoffset: 0;
    fill: #303030;
  }

  90%,
  100% {
    stroke-dashoffset: 8000;
    fill: transparent;
  }
}

html.dark {
  #signaturePath {
    fill: transparent;
    stroke: #fdfdfd;
    fill: #fdfdfd;
    stroke-dasharray: 3000;
    stroke-dashoffset: 8000;
    animation: drawSignatureDark 8s linear infinite;
  }
}

html {
  #signaturePath {
    fill: transparent;
    stroke: #303030;
    fill: #303030;
    stroke-dasharray: 3000;
    stroke-dashoffset: 8000;
    animation: drawSignatureLight 8s linear infinite;
  }
}

/* html {
  @keyframes drawSignature {
    0% {
      stroke-dashoffset: 8000;
    }

    15% {
      fill: transparent;
    }

    35%,
    75% {
      stroke-dashoffset: 0;
      fill: #303030 !important;
    }

    90%,
    100% {
      stroke-dashoffset: 8000;
      fill: transparent;
    }
  }
  #signaturePath {
    fill: transparent;
    stroke: #303030;
    stroke-dasharray: 3000;
    stroke-dashoffset: 8000;
    animation: drawSignature 1s linear infinite;
  }
} */
