html.dark {
  .shiki.github-light {
    display: none;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #fffffff2 !important;
  }


  p,
  li {
    line-height: 28px !important;
    color: rgb(255, 255, 245, 0.86) !important;
  }

  strong {
    color: rgb(255, 255, 245, 0.96) !important;

  }

  p>a {
    color: rgb(100, 108, 255) !important;
    text-decoration: none !important;
  }

  p>a:hover {
    text-decoration: underline !important;
  }

  code {
    border-radius: 4px !important;
  }
}