---
interface Props {
  time: string | Date;
}

const { time } = Astro.props;

const parsed = new Date(time);
const isValid = !isNaN(parsed.getTime());

let formattedDate = '';

if (isValid) {
  formattedDate = new Intl.DateTimeFormat('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  }).format(parsed);
  
} else {
  formattedDate = String(time);
}
---

<span>{formattedDate}</span>
