---
interface Props {
  time: string | Date;
}

const { time } = Astro.props;

const parsed = new Date(time);
const isValid = !isNaN(parsed.getTime());

let formattedDate = '';

if (isValid) {
  const parts = new Intl.DateTimeFormat('zh-CN', {
    year: 'numeric',
    month: '2-digit',
    day: '2-digit',
  }).formatToParts(parsed);
  const dateParts = Object.fromEntries(parts.map(({ type, value }) => [type, value]));

  formattedDate = `${dateParts.year}.${dateParts.month}.${dateParts.day}`;
} else {
  formattedDate = String(time);
}
---

<span>{formattedDate}</span>
