---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../utils/cn';

interface Props extends HTMLAttributes<'a'> {}

const { class: className, href, children, ...props } = Astro.props;
const isExternal = href?.startsWith('http') || href?.startsWith('//');
---

<a
  href={href}
  class={cn(
    className
  )}
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'noopener noreferrer' : undefined}
  {...props}
>
  <slot />
</a>
