---
import type { HTMLAttributes } from "astro/types";
import { cn } from "../../utils/cn";

interface Props extends HTMLAttributes<"h2"> {
    id?: string;
}

const { class: className, id, ...props } = Astro.props;
---

<h2
    id={id}
    class={cn(
        "heading-group",
        className,
    )}
    {...props}
>
    <slot />
</h2>
