---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../utils/cn';

interface Props extends HTMLAttributes<'h4'> {
  id?: string;
}

const { class: className, id, ...props } = Astro.props;
---

<h4
  id={id}
  class={cn(
    'heading-group',
    className
  )}
  {...props}
>
  <slot />
</h4>
