---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../utils/cn';

interface Props extends HTMLAttributes<'p'> {}

const { class: className, ...props } = Astro.props;
---

<p
  class={cn(
    'mb-2 text-[16px] leading-6',
    'text-text-primary/90',
    'font-normal',
    className
  )}
  {...props}
>
  <slot />
</p>
