---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../utils/cn';

interface Props extends HTMLAttributes<'p'> {}

const { class: className, ...props } = Astro.props;
---

<p
  class={cn(
    className
  )}
  {...props}
>
  <slot />
</p>
