---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../utils/cn';

interface Props extends HTMLAttributes<'table'> {}

const { class: className, ...props } = Astro.props;
---

<div class="mb-5 overflow-x-auto">
  <table
    class={cn(
      'w-full',
      className
    )}
    {...props}
  >
    <slot />
  </table>
</div>
