---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '../../utils/cn';

interface Props extends HTMLAttributes<'td'> {}

const { class: className, ...props } = Astro.props;
---

<td
  class={cn(
    className
  )}
  {...props}
>
  <slot />
</td>
